

{% extends "exchange/base.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "exchange/css/cryptostyle.css" %}"/>
{% endblock title %}


{% block content %}
    <body>

    <div class="central_separator"></div>

    <div class="main_body">
        <div class="main_container">
            <div class="price_list">
                <div class="price_title">
                    Валюты
                </div>
                <div class="price_table">
                    {% for item in crypto_data %}
                        <div class="price_item">
                            <h3>{{ item }}</h3>
                            <div>
                                Выберете количество дней:
                                <select name="days" class="box" id="{{ item }}_days"></select>
                            </div>
                            <div><input type="submit" value="Применить" class="settings" name="{{ item }}" id="{{ item }}_settings"></div>
                        </div>

<!--                        <input value="Применить" name="settings">-->
                    {% endfor %}
                </div>

            </div>
            <div class="main_separator"></div>
            <div class="graph_list">
                <div class="graph_title">Графики</div>
                <div class="graph_table">
<!--                    <canvas id="chart" width="500" height="100"></canvas>-->
                    {% for value in crypto_data %}
<!--                        <p>{{ value }}</p>-->
                        <div class="graph_item">
                            <canvas id="{{value}}" width="500" height="100"></canvas>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="{% static 'exchange/js/jquery-3.7.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'exchange/js/crypto.js' %}"> </script>

{% endblock content %}
