
{% extends "exchange/base.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "exchange/css/marketstyle.css" %}"/>
{% endblock title %}

{% block content %}
    <body>

    <div class="central_separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <?php echo $deleteMsg??''; ?>
                <div class="table-responsive">
                    <table class="table table-bordered" border="1px">
                        <thead><tr>


                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}