<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="../styles/registrationstyle.css">

</head>
<body>
<header class="header">
    <div class="header_container">
        <div class="header_inner">
            <a href="./mainmenu.html">
                <div class="header_logo"></div></a>
            <div class="header_title">Регистрация</div>
            <div class="header_profile">
                <div class="header_balance">Баланс: 500$</div>
                <div class="header_separator"></div>
                <a href="./profile.html">
                    <div class="header_avatar"></div></a>
            </div>
        </div>
    </div>
</header>

<div class="central_separator"></div>


<div class="main_container">
    <div class="registration_container">
        <div class="registration_list">

            <div class="mail_container">
                <input type="email" class="form__field" placeholder="Почта"/>
            </div>
            <div class="password_container">
                <input type="password" class="form__field" placeholder="Пароль"/>
            </div>
            <div class="repeat_password_container">
                <input type="password" class="form__field" placeholder="Повтор пароля"/>
            </div>
            <div class="submit_registration">
                <form method="post" enctype="multipart/form-data">
                    <label class="submit_label">
                        <input type="submit" value="" name="file">
                        <span>Зарегистрироваться</span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>