@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    height: 100%;
    margin: 0;
    background-color: #fafafa;
    font-family: "Montserrat";
}

html {
    height: 100%;
}


.header_container {
    height: 50px;
    background-color: white;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header_title {
    font-size: 30px;
}
.header_logo {
    height: 40px;
    width: 40px;
    margin-left: 13px;
    background-image: url("../images/GeepsoWallet png.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.header_profile {
    width: auto;
    margin-right: 5px;
}
.header_balance {
    height: 33px;
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    /*border-radius: 15px 0 0 15px;*/
}
.header_separator {
    height: 40px;
    width: 2px;
    float: left;
    background-color: #07BEB8;
}
.header_stock_im {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;

    background-image: url("../images/user_avatar.png");
    background-position: center;
    background-size: cover;
}

.header_avatar_base {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.header_profile {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header_auth{
    /*border: solid;*/
    display: flex;
    justify-content: center;
    width: 25%;
}

.header_reg{
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_log{
    display: block;
    float: left;
    margin-left: 20px;
    border-radius: 0 5px 5px 0;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_logout{
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    border-radius: 5px 0 0 5px;
}

.header_avatar{
    display: block;
    margin-right: 30px;
}

.header_link {
    text-decoration: none;
    color: black;
}

.header_log:hover {
    border: 2px solid black;
}

.header_reg:hover {
    border: 2px solid black;
}

.header_logout:hover {
    border: 2px solid black;
}


.central_separator {
    height: 2px;
    width: 100%;
    margin: 0;
    background-color: #07BEB8;
}


.main_container {
    height: 100%;
    display: flex;
    justify-content: normal;
}

.price_list {
    width: 60%;
    height: 100%;
    min-height: 688px;
    float: top;
    margin: 50px 60px 0 50px;
    position: relative;
    text-align: center;
}

.price_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.price_item {
    padding: 5px;
    margin: 10px;
    height: 200px;
    border: 2px solid #4b6970;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.price_table {
    height: 100%;
    min-height: 688px;
    width: 100%;
    padding: 7px;

    position: relative;
    text-align: center;
    background-color: #68D8D6;
    border-radius: 15px;
}


.main_separator {
    height: 10pv;
    width: 2px;

    float: right;
    margin-top: 20px;
    background-color: #68D8D6;
}

.graph_list {
    width: 100%;
    height: 100%;
    min-height: 688px;
    /*max-height: 1000px;*/
    max-width: 1900px;

    text-align: center;
    margin-top: 50px;
    margin-inline: 50px;
}

.graph_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.graph_item {
    margin: 10px;
    padding: 5px;
    max-height: 200px;
    border: 2px solid #4b6970;
    border-radius: 5px;
}

.graph_table {
    width: 100%;
    height: 100%;
    min-height: 700px;
   /* max-height: 1000px;*/
    max-width: 1900px;
    padding: 7px;
    background-color: #68D8D6;
    border-radius: 15px;
}

.settings {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #white;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #999ea3;
    cursor: pointer;
}

.settings:hover {
    border: 2px solid #4b6970;
}

.box {
    /*width: 40px;*/
    height: 30px;
    margin-left: 10px;
    padding: 0px 5px 0px 5px;
    font-size: 18px;
    border: 2px solid #ccc;
    /*appearance: none;*/
}