@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    margin: 0;
    background-color: #fafafa;
    font-family: "Montserrat";
}

.header_container {
    height: 50px;
    background-color: white;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header_title {
    font-size: 30px;
}
.header_logo {
    height: 40px;
    width: 40px;
    margin-left: 13px;
    background-color: #07BEB8;
    border-radius: 15px;
}
.header_profile {
    width: auto;
    margin-right: 5px;
}
.header_balance {
    height: 33px;
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    /*border-radius: 15px 0 0 15px;*/
}
.header_separator {
    height: 40px;
    width: 2px;
    float: left;
    background-color: #07BEB8;
}
.header_stock_im {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;

    background-image: url("../assets/images/user_avatar.png");
    background-position: center;
    background-size: cover;
}

.header_avatar_base {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.header_profile {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header_auth{
    /*border: solid;*/
    display: flex;
    justify-content: center;
    width: 25%;
}

.header_reg{
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_log{
    display: block;
    float: left;
    margin-left: 20px;
    border-radius: 0 5px 5px 0;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_logout{
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    border-radius: 5px 0 0 5px;
}

.header_avatar{
    display: block;
    margin-right: 30px;
}

.header_link {
    text-decoration: none;
    color: black;
}

.header_log:hover {
    border: 2px solid black;
}

.header_reg:hover {
    border: 2px solid black;
}

.header_logout:hover {
    border: 2px solid black;
}


.central_separator {
    height: 2px;
    width: 100%;
    margin: 0;
    background-color: #07BEB8;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 750px;
    width: 95%;
    background-color: #07BEB8;
    border-radius: 15px;
}