@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    margin: 0;
    background-color: #fafafa;
    font-family: "Montserrat";
}

.header_container {
    height: 50px;
    background-color: white;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header_title {
    font-size: 30px;
}
.header_logo {
    height: 40px;
    width: 40px;
    margin-left: 13px;
    background-image: url("../images/GeepsoWallet png.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 15px;
}

.header_profile {
    width: auto;
    margin-right: 5px;
}
.header_balance {
    height: 33px;
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    /*border-radius: 15px 0 0 15px;*/
}
.header_separator {
    height: 40px;
    width: 2px;
    float: left;
    background-color: #07BEB8;
}
.header_stock_im {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;

    background-image: url("../images/user_avatar.png");
    background-position: center;
    background-size: cover;
}

.header_avatar_base {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 5px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}


.header_profile {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.header_auth{
    /*border: solid;*/
    display: flex;
    justify-content: center;
    width: 25%;
}

.header_reg{
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_log{
    display: block;
    float: left;
    margin-left: 20px;
    border-radius: 0 5px 5px 0;
    background-color: #07BEB8;
    padding-top: 7px;
    padding-inline: 10px;
    font-size: 20px;
}

.header_logout{
    width: auto;
    float: left;
    font-size: 20px;
    text-align: left;
    margin-right: 5px;
    padding-top: 7px;
    padding-inline: 10px;
    background-color: #07BEB8;
    border-radius: 5px 0 0 5px;
}

.header_avatar{
    display: block;
    margin-right: 30px;
}

.header_link {
    text-decoration: none;
    color: black;
}

.header_log:hover {
    border: 2px solid black;
}

.header_reg:hover {
    border: 2px solid black;
}

.header_logout:hover {
    border: 2px solid black;
}


.central_separator {
    height: 2px;
    width: 100%;
    margin: 0;
    background-color: #07BEB8;
}


.main_container {
    display: flex;
    justify-content: normal;
}

.profile_list {
    height: 100%;
    float: top;
    margin: 30px 30px 0 30px;
    position: relative;
}

.profile_avatar {
    height: 250px;
    width: 250px;
    background-image: url("../images/user_avatar.png");
    background-position: center;
    background-size: cover;
}

.profile_avatar_base {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}


.download_avatar {
    height: auto;
    width: 250px;

    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;

    position: relative;
    display: inline-block;
    text-align: center;
    background-color: #68D8D6;
    border-radius: 15px 15px 0 0;
}
.download_avatar span {
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    margin: 0;

    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border-radius: 15px 15px 0 0;
    line-height: 22px;
    box-sizing: border-box;
    border: none;

    transition: background-color 0.2s;
}
.download_avatar input[type=file] {
    width: 0;
    height: 0;

    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
}

.download_avatar input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.download_avatar:hover span {
    background-color: #3dccc7;
}

.download_avatar:active span {
    background-color: #057672;
}

.download_avatar input[type=file]:disabled + span {
    background-color: #eee;
}

.profile_about {
    height: 55%;
    width: 246px;
    padding: 7px;

    position: relative;
    text-align: center;
    background-color: #68D8D6;
}

.profile_about textarea {
    width: 100%;
    height: 100%;

    resize: none;
    padding: 15px;
    box-sizing: border-box;

    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.06);

}

.submit_about {
    height: 40px;
    width: 250px;
    margin-top: 4px;
    padding: 5px;

    position: relative;
    display: inline-block;

    text-align: center;
    background-color: #68D8D6;
    border-radius: 0 0 15px 15px;
}

.submit_about span {
    height: 40px;
    width: 100%;
    line-height: 22px;

    margin: 0;
    padding: 10px 20px;

    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    border: none;
    transition: background-color 0.2s;
}

.submit_about input[type=submit] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.submit_about input[type=submit]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.submit_about:hover span {
    background-color: #3dccc7;
}

.submit_about:active span {
    background-color: #057672;
}

.submit_about input[type=submit]:disabled + span {
    background-color: #eee;
}


.main_separator {
    height: 850px;
    width: 2px;

    float: right;
    margin-top: 20px;
    background-color: #68D8D6;
}

.trade_history {
    width: 100%;
    height: 100%;
    min-height: 750px;
    max-height: 1200px;
    max-width: 1900px;

    text-align: center;
    margin-top: 50px;
    margin-inline: 50px;
}

.history_title {
    font-size: 40px;
    margin-bottom: 20px;
}

.history {
    width: 100%;
    height: 100%;
    min-height: 750px;
    max-height: 1200px;
    max-width: 1900px;

    background-color: #68D8D6;
    border-radius: 15px;
}